.square {
    width: 80px;
    height: 80px;
    float: left;
    background-color: aliceblue;
  }
  
  .black {
    background-color: rgb(76, 105, 131);
  }
  
  .white {
    background-color: white;
  }
  